{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="container col-md-4" style="background-color: #fff; border: 1px solid #e8e8e9; padding: 25px 20px;">
                <div class="sidebar-sticky">
                    <nav class="d-none d-md-block bg-light sidebar">
                        <h1 class="text-muted" style="color:grey;">News Sources</h1>
                        {{ macro.displayNewsSources(sources) }}
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}